<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- paged.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid@11.2.0/dist/mermaid.min.js" defer>
     </script>

    <script defer src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>

    <!-- our stylesheets -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="extra.css">
    <link rel="stylesheet" type="text/css" href="callouts.css">


    <!-- KaTeX (Math rendering )-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
        integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
        integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
        integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    { left: '\\(', right: '\\)', display: false },
                    { left: '\\[', right: '\\]', display: true }
                ],
                // • rendering keys, e.g.:
                throwOnError: false
            });
        });
    </script>


</head>

<body>
    <!-- TOC 1 -->
    <h1>Entries By Date</h1>
    <div class="TableOfContents">
        <ul>
            {{range $md := .Entries}}
            <li class="tocentry">
                {{.Data.Date.Format "01/02/2006"}}
                <a class="toclink" href="#{{.Data.Anchor}}">{{.Data.Title}}</a>:
                <span class="process-tag" data-process="{{index .Data.ProcessSteps 0}}">{{index .Data.ProcessSteps
                    0}}</span>
            </li>
            {{end}}
        </ul>
    </div>
    <br class="pagebreak">

    <!-- TOC 2 -->
    <h1>Entries By Project</h1>
    <div class="TableOfContents">
        <ul>
            <li>
                {{range $foc := .ByFocus}}
                {{.Focus}}
                <ul>
                    {{range $entry := .Entries}}
                    <li class="tocentry">{{.Date.Format "01/02/2006"}}
                        <a class="toclink" href="#{{.Anchor}}">{{.Title}}</a>
                        <span class="process-tag" data-process="{{index .ProcessSteps 0}}">{{index
                            .ProcessSteps 0}}</span>

                    </li>
                    {{end}}
                </ul>
                {{end}}
            </li>
        </ul>
    </div>
    <!-- <br class="pagebreak"> -->

    {{range $entry := .Entries}}

    <section id="{{.Data.Anchor}}">

        <div class="entry-header">
            <h1 class="entry-title">
                {{.Data.Title}}
            </h1>
            <span class='entry-topic'>
                focus: <b>{{.Data.Focus}}</b>
            </span>
        </div>

        <hr class="entry-header-hr">

        <div class="entry-signature">
            <div>by:
                {{range $index, $auth := .Data.Authors}}
                {{if $index}}, {{end}}
                <b>{{.}}</b>
                {{end}}
            </div>
            <span>
                reviewed by: {{range $index, $auth := .Data.Proofreaders}} {{if $index}},{{end}} <b>{{.}}</b> {{end}}
            </span>
        </div>


        <div class="entry-embed">
            {{.Html}}
        </div>
        {{end}}
    </section>



</body>

</html>