<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- our stylesheets -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="callouts.css">
    <link rel="stylesheet" type="text/css" href="overrides.css">

    <!-- KaTeX (Math rendering )-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
        integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
        integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
        integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    { left: '\\(', right: '\\)', display: false },
                    { left: '\\[', right: '\\]', display: true }
                ],
                // • rendering keys, e.g.:
                throwOnError: true
            });
        });


        document.addEventListener('DOMContentLoaded', function () {
            const script = document.createElement('script');
            script.src = 'https://unpkg.com/pagedjs/dist/paged.polyfill.js';
            document.head.appendChild(script);
        });
    </script>


</head>

<body>

    <div class="header-page">
        <h1>RIT VEX U Robotics</h1>
        <h2>{{if eq .Notebook "All" }} Engineering Notebook {{else}} {{.Notebook}} Notebook {{end}}</h2>
        <h2>High Stakes 2024-2025</h2>
        <img src="Assets/rit-long.png" id="rit-long">
    </div>


    <br class="pagebreak">

    {{range $fm := .Frontmatter}}
    <section id="{{.Data.Anchor}}">
        <div class="entry-header">
            <h1 class="entry-title">
                {{.Data.Title}}
            </h1>
        </div>
        <hr class="entry-header-hr">
        <br>

        <div class="entry-embed">
            {{.Html}}
        </div>

        <br class="pagebreak">

    </section>
    {{end}}


    <!-- TOC By Project -->
    <h1 class="TOC">Entries By Project</h1>
    <div class="TableOfContents">
        <ul>

            {{range $foc := .ByFocus}}
            <li class="byFocus">
                <span class="focus-title">
                    <b>{{.Focus}}</b>
                    <i>{{ToTitle .Notebook}}</i>
                </span>
                <ul class="toc-focus-list toc-main">
                    {{range $entry := .Entries}}
                    <li class="focus-entry-item">
                        <div class="tocentry">
                            <span class="toc_date">{{.Date.Format "01/02/2006"}}</span>
                            <a class="toclink" href="#{{.Anchor}}">{{.Title}}</a>

                            <span class="toc_icon">{{.LucideIcon}}</span>
                            <span class="page_number" href="#{{.Anchor}}"></span>
                        </div>
                    </li>
                    {{end}}
                </ul>
            </li>
            {{end}}
        </ul>
    </div>

    <br class="pagebreak">
    <!-- TOC By Date -->
    <h1 class="TOC">Entries By Date</h1>
    <div class="TableOfContents toc-main">
        <ul>
            {{range $md := .Entries}}
            <li>
                <div class="tocentry">
                    <span class="toc_date">{{.Data.Date.Format "01/02/2006"}}</span>
                    <a class="toclink" href="#{{.Data.Anchor}}">{{.Data.Title}}</a>

                    <span class="toc_icon">{{.Data.LucideIcon}}</span>
                    <span class="page_number" href="#{{.Data.Anchor}}"></span>
                </div>
            </li>
            {{end}}
        </ul>
    </div>


    {{range $entry := .Entries}}

    <section id="{{.Data.Anchor}}" data-process-steps="{{.Data.ProcessSteps}}" class="entire-entry">


        <div class="entry-header">
            <h1 class="entry-title">
                <span class="title-text">{{.Data.Title}}</span>
            </h1>
            <h2 class="header-process-steps">
                <span>
                    <span class="icons-container">{{.Data.LucideIcon}}</span>
                    <span id="process-steps">
                        {{range $index, $element := .Data.ProcessSteps}}
                        <span class="step">
                            {{if $index}}, {{end}}
                            {{ $element }}
                        </span>
                        {{end}}
                    </span>
                </span>
                <span style="align-self: end;">
                    <span class="icons-container">{{.Data.NotebookIcon}}</span>
                    {{ToTitle .Data.Notebook}}
                </span>
            </h2>
        </div>

        {{.GradientHR}}

        <div class="entry-signature">
            <div>By:
                {{range $index, $auth := .Data.Authors}}
                {{if $index}}, {{end}}
                <b>{{.}}</b>
                {{end}}
            </div>
            <span>
                Date: <b>{{.Data.Date.Format "01/02/2006"}}</b>
            </span>
        </div>
        <div class="topic-robot-box">
            <div class='entry-topic'>
                Focus: <b>{{.Data.Focus}}</b>
            </div>
            <div class="robots">
                {{if .Data.Robots}}
                Robot:
                {{range $index, $auth := .Data.Robots}}
                {{if $index}}, {{end}}
                <b>{{.}}</b>
                {{end}}
                {{end}}
            </div>

        </div>


        {{if .Data.PrevInFocus}}
        Continued from <a class="note_ref" href="#{{.Data.PrevInFocus.Anchor}}"><b>{{.Data.PrevInFocus.Title}}</b></a>
        <br>
        {{end}}

        <div class="continued_in">
            {{if .Data.NextInFocus}}
            Continued in <a class="note_ref" href="#{{.Data.NextInFocus.Anchor}}"><b>{{.Data.NextInFocus.Title}}</b></a>
            {{end}}
        </div>

        <div class="entry-embed">
            {{.Html}}
        </div>

    </section>
    {{end}}


    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>


</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const processSteps = document.querySelectorAll("#process-steps .step");
        processSteps.forEach((span, index) => {
            let formatted = span.innerText
                .replace(/-/g, " ")
                .trim();

            formatted = formatted.toLowerCase()
                .split(' ')
                .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
                .join(' ');

            span.innerText = formatted;
        });
    });
</script>

</html>