details {
    padding: 0.1in;
    border: 0.02in solid black;
    margin-left: 0.05 in;
    margin-right: 0.05in;
    margin-top: 0.15in;

    border-radius: 0.05in;
    padding: 0.2in;
    padding-bottom: 0.1in;


}


details[data-callout]>summary {
    list-style-type: none;
    font-weight: bold;
    text-decoration: underline;
}



details[data-callout="CAUTION"] {
    background-color: #ec750040;
    border: none;
}

details[data-callout="CAUTION"]>summary {
    color: rgb(236, 117, 0);
}

details[data-callout="WARNING"] {
    background-color: #ec750040;
    border: none;
}

details[data-callout="WARNING"]>summary {
    color: rgb(236, 117, 0);
}

.callout[data-callout='palette-white'],
.callout[data-callout='palette-magenta'],
.callout[data-callout="palette-orange"] {
    --callout-icon: lucide-paint-bucket;
}

.callout[data-callout='palette-white'] {
    --callout-color: 255, 255, 255;
}

.callout[data-callout='palette-magenta'] {
    --callout-color: 244, 0, 161;
}

.callout[data-callout="palette-orange"] {
    --callout-color: 247, 105, 2;
}

details[data-callout="manual"] {
    background-color: #ff3d3d40;
    border: none;
}

details[data-callout="manual"]>summary {
    color: #ff3d3d;
    text-decoration: none;
}

details[data-callout="NOTE"] {
    background-color: #3d84ff40;
    border: none;
}

details[data-callout="NOTE"]>summary {
    color: #3d9bff;
    text-decoration: none;
}

details[data-callout="IMPORTANT"] {
    background-color: #00ece840;
    border: none;
}

details[data-callout="IMPORTANT"]>summary {
    color: rgb(0, 236, 232);
}

details[data-callout="TIP"] {
    background-color: #00ece840;
    border: none;
}

details[data-callout="TIP"]>summary {
    color: rgb(0, 236, 232);
}