details {
    padding: 0.1in;
    border: 0.02in solid black;
    margin-left: 0.05 in;
    margin-right: 0.05in;
    margin-top: 0.15in;

    border-radius: 0.05in;
    padding: 0.2in;
    padding-bottom: 0.1in;


}

details[data-callout]>summary {
    list-style-type: none;
    font-weight: bold;
}

.callout[data-callout='palette-white'],
.callout[data-callout='palette-magenta'],
.callout[data-callout="palette-orange"] {
    --callout-icon: lucide-paint-bucket;
}

.callout[data-callout='palette-white'] {
    --callout-color: 255, 255, 255;
}

.callout[data-callout='palette-magenta'] {
    --callout-color: 244, 0, 161;
}

.callout[data-callout="palette-orange"] {
    --callout-color: 247, 105, 2;
}

details[data-callout="manual" i] {
    background-color: #ff3d3d40;
    border: none;
}

details[data-callout="manual" i]>summary {
    color: #ff3d3d;
    text-decoration: none;
}

details[data-callout="note" i], details[data-callout="definition" i] {
    background-color: #3d84ff40;
    border: none;
}

details[data-callout="note" i]>summary, details[data-callout="definition" i]>summary {
    color: #3d9bff;
    text-decoration: none;
}

details[data-callout="important" i], details[data-callout="tip" i] {
    background-color: rgba(0, 236, 232, 0.175);
    border: none;
}

details[data-callout="important" i]>summary,  details[data-callout="tip" i]>summary {
    color: rgb(28, 207, 204);
    text-decoration: none;
}

details[data-callout="caution" i], details[data-callout="warning" i] {
    background-color: #ec750040;
    border: none;
}

details[data-callout="caution" i]>summary, details[data-callout="warning" i]>summary {
    color: rgb(236, 117, 0);
    text-decoration: none;
}