:root {
    --h1-font: 'Univa Nova';
    --brand-orange: #F76902;
    --brand-white: #FFFFFF;
    --brand-magenta: #7D55C7;

    --proc-step-identify: #84DD00;
    --proc-step-brainstorm: #DA291C;
    --proc-step-update: #009CBD;
    --proc-step-test: #F6BE00;
    --proc-step-select: #7D55C7;
    --proc-step-other: #8E8E8E;
    --proc-step-context: #FF8000;
    --proc-step-game-analysis: #F933C2;
    --text-normal: #000000;
    --bold-modifier: 100;
    --font-bold: 500;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    /* font-weight: 150; */
}

pre[data-undisplayed="undisplayed"] {
    display: none;
}

.process-tag {
    display: inline;
    border-radius: 2px;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: medium;
    float: right;
}


table,
th,
tr,
td,
thead {
    border: 1pt solid black;
    border-collapse: collapse;
}


span.obsidian-comment {
    background-color: lightblue;
}


.process-tag[data-process="identify-problem"] {
    background-color: var(--proc-step-identify);
}

.process-tag[data-process="brainstorm"] {
    background-color: var(--proc-step-brainstorm);
}

.process-tag[data-process="update"] {
    background-color: var(--proc-step-update);
}

.process-tag[data-process="select-best"] {
    background-color: var(--proc-step-select);
}

.process-tag[data-process="test-result"] {
    background-color: var(--proc-step-test);
}

.process-tag[data-process="other"] {
    background-color: var(--proc-step-other);
}

.process-tag[data-process="context"] {
    background-color: var(--proc-step-context);
}

.process-tag[data-process="other"] {
    background-color: var(--proc-step-other);
}



div.TableOfContents>ul {
    list-style: none;
    padding-left: 0;
}

.toc_date {
    padding-right: 0.1in;
}

.toclink {
    padding-left: 0.1in;
}

.tocentry {
    /* width: 100%; */
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    /* gap: 0.1in; */
    /* justify-content: end; */
}


span.page_number::after {
    content: target-counter(attr(href), page);
    text-align: right;
    min-width: 0.3in;
}


span.page_number {
    margin-left: auto;
    min-width: 0.3in;
    text-align: right;

}

.entry-header>h1 {
    margin: 0px;
}

h1.entry-title {
    font-size: 0.25in;
}

.entry-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.topic-robot-box {
    justify-self: end;
    align-self: flex-end;
}


.entry-header-hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.02in 0;
    padding: 0;
    border-top: 0.03in solid var(--brand-orange);
}

.entry-header-hr[data-first-process-step="identify-problem"] {
    border-top: 0.03in solid var(--proc-step-identify);
}

.entry-header-hr[data-first-process-step="brainstorm"] {
    border-top: 0.03in solid var(--proc-step-brainstorm);
}

.entry-header-ht[data-first-process-step="select-best"] {
    border-top: 0.03in solid var(--proc-step-select);
}

.entry-header-hr[data-first-process-step="update"] {
    border-top: 0.03in solid var(--proc-step-update);
}

.entry-header-hr[data-first-process-step="test"] {
    border-top: 0.03in solid var(--proc-step-test);
}

.entry-header-hr[data-first-process-step="game-analysis"] {
    border-top: 0.03in solid var(--proc-step-game-analysis);
}

.entry-header-hr[data-first-process-step="other"] {
    border-top: 0.03in solid var(--proc-step-other);
}

.entry-header-hr[data-first-process-step="context"] {
    border-top: 0.03in solid var(--proc-step-context);
}

.entry-signature {
    display: flex;
    justify-content: space-between;
}

.entry-embed>p {
    text-indent: 1.5em;
}


@page {
    @bottom-center {
        content: counter(page) " of " counter(pages);
    }
}

.lucide {
    /* Change this! */
    /* color: #ffadff; */
    /* overflow: visible; */
    /* width: 0.2in; */
    height: 0.2in;
    stroke-width: 2px;
    text-align: right;
}

@media print {
    @page {
        size: 8.5in 11in;
    }

    /*Page Breaking Rules*/
    section.entire-entry {
        /* Break before a new entry */
        break-before: always;
    }



    section h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: avoid;
    }

    table,
    figure {
        page-break-inside: avoid;
    }

    li.byFocus {
        break-inside: avoid;
    }

    .continued_in {
        text-align: right;
        bottom: 0%;
    }

    img {
        max-width: 6in;
        max-height: 4in;

        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        margin: auto;
    }

    details {
        break-inside: avoid;
    }




    h3>img {
        display: inline;
        padding-bottom: 0;
        margin-bottom: 0;
        vertical-align: bottom;
    }

    img+em {
        break-inside: avoid;
        text-align: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        margin-top: 0.1in;
        margin-bottom: 0.1in;

        display: block;
    }

    .toclink {
        color: black;
        text-decoration: none;
    }

    a.note_ref {
        color: black;
        text-decoration: none;
    }

    a.note_ref::after {
        content: " (Pg. " target-counter(attr(href), page) ")";

    }

    .pagebreak {
        page-break-before: always;
    }

}